body {
  background-color: #fefefe;
  font-family: "游ゴシック", YuGothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

// エリア ########################
.main-visual {
  background-color: $themeCo;
  padding: 100px 0;

  h1,
  p {
    text-align: center;
    color: #fff;
  }
}

.main-section {// 後で構造やclass名を変更
  padding: 50px 0;
}

.profile {
  dl {
    @include clearfix;

    dt {
      display: block;
      width: 30%;
      float: left;
    }
    dd {
      display: block;
      width: 70%;
      float: left;
    }
  }
}

@media only screen and (max-width: 40em) {
  .profile-name {
    text-align: center;
  }
}

#skill,
#contact {
  background-color: #eaeaea;
}

#skill {
  padding: 50px 0;
}

.think {
  padding: 50px 0;
}

.groval-footer {
  background-color: $themeCo;
  padding: 20px 0 40px;
  text-align: center;
  color: #fff;
}

// パーツ ##########################
.section-title,
.skill-list h3,
.comment-title,
.data-title {
  font-family: 'Montserrat', sans-serif;
}

.section-title,
.section-title+p,
.think-title {
  text-align: center;
}

.profile-image {
  @include border-radius(50%);
}

// Fluid Image
img {
  max-width: 100%;
}

.think-image {
  width: 130px;
  margin: 0 auto;
  padding: 30px;
  background-color: #efefef;
  border-radius: 50%;
}

.skill-list {
  dd {
    color: #99969e;
  }
}

.portfolio-item {
  margin: 10px 0;
}

.portfolio-item__title {
  margin: 5px 0;
  font-size: 1em;
  font-weight: 500;
}

.portfolio-item__thumbnail {
  img {
    &:hover {
      @include filter(brightness(0.7));
    }
  }
}

.portfolio-item__thumbnail {
	position: relative;
	overflow: hidden;
	width: 100%;
  display: block;

  &:hover .hover-items {
  	opacity: 1;
  }
}

.hover-items {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	@include transition(.5s);
	opacity: 0;

	.hover-item {
  	position: absolute;
  	top: 45%;
  	left: 35%;
    padding: 3px 16px;
    display: inline-block;
    border: 1px solid #efefef;
  	font-size: 1em;
  	color: #fff;

    .fa {
      margin-left: .8em;
    }
	}
}

.tech {
  @include clearfix;

  p {
    display: inline;
    font-weight: 500;
    font-size: .7em;
    margin-right: .4em;
    float: left;
  }

  li {
    margin-left: .4em;
    font-size: .8em;

    &:not(:last-child):after {
      content: ",";
    }
  }

  .inline-list {
    margin-left: 0;
  }
}

.btn-more-area {
  text-align: center;
}

// single ############
.production-header {
  margin: 10px 0;
}

.production-header__title {
  font-size: 1.8em;
}

.comment-title {
  font-size: 1.6em;
}

.data-title {
  @extend .comment-title;
}
